#github-widget {
    /* max-height: 100vh; */
}

.github-block-title {
    margin-bottom: 0.2rem;
    color: var(--secondary-text);
}

.section{
    display: flex;
    gap: 12px;
    margin-bottom: 15px;
}
.btn{
    background-color: #2c2c2e;
      color: white;
      border: none;
      padding: 8px 18px;
      border-radius: 10px;
      font-size: 14px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 6px;
      transition: background 0.2s;
}