/* variables */ 
:root {
    --grid-gap: 1rem;
    --widget-bg: black;
    --widget-padding: 2rem;
    --widget-border-radius: 25px;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
    /* padding: var(--grid-gap); */
    /* flex: 0 1 200px; */
    /* size: ; */
    /* padding: 7rem var(--grid-gap); */
    padding: var(--grid-gap) 7rem;
}

/* --------------- Grid --------------- */
#grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: var(--grid-gap);

    /* width: 100%; */
    /* height: 100%; */
}


#grid-left, #grid-right {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: var(--grid-gap);
    height: inherit;
    width: inherit;
}

#todo-widget, #github-widget {
    max-height: 100vh;
    width: 100%; 
}

#social-widget {
    /* height: auto; */
    height: 3rem;
    grid-column: 1 / span 2;
}
@media(max-width: 1440px){
    #social-widget{
        display: none;
        flex-grow: 0;
        margin-left: auto;
        margin-right: 1.5rem;
    }
}

.square-widget {
    aspect-ratio: 1 / 1;
    width: fit-content;
}

/* Settings */
#settings-relative {
    position: relative;
}
#settings {
    position: absolute;
    top: -2.69rem;
    left: -2.69rem;
    display: grid;
    place-items: center;
    width: 4.5rem;
    height: 4.5rem;
    padding: 0.7rem;
    border-radius: 10px;
    background-color: var(--bg-color);
    /* background-color: var(--section-color); */
}

#settings-inner {
    display: grid;
    place-items: center;
    background-color: var(--primary-color);
    padding: 0.6rem;
    border-radius: 10px;
}

#settings-inner img {
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

#settings-inner img:hover {
    transform: rotateZ(180deg);
}
