:root {
    --stroke-width: 6px;
}

/* Nothing Was Needed */
#pomodoro-widget {
    position: relative;
    display: grid;
    place-items: center;
    /* background: #000000; */
    /* color: #fff; */
    /* width: 300px; */
    /* height: 300px; */
    /* border-radius: 12px; */
    /* text-align: center; */
    /* padding: 15px; */
}

.circle {
    position: relative;
    width: 60%;
    height: 60%;
    margin: 15px auto;
}

#timer {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    gap: 3px;
    transform: translate(-50%, -50%);
    font-size: 26px;
    font-weight: bold;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 0 10px;
    font-size: 14px;
}

.icon {
    cursor: pointer;
    width: auto;
    height: auto;
}

/* Svg Animation  */
.pomo-content {
    position: relative;
    height: 300px;
    width: 300px;
}

.base-timer_circle {
    fill: none;
    stroke: none;
}

.base-timer_path-elapsed {
    stroke-width: var(--stroke-width);
    stroke: #404040;
}

.base-timer_path-remaining {
    stroke-width: var(--stroke-width);
    stroke-linecap: round;
    
    transform: rotate(90deg);
    transform-origin: center;

    transition: 1.05s linear all;
    
    stroke: white;
}

.base-timer_svg {
    transform: scaleX(-1);
}

/* Pomodoro Option */
#pomodoro-option{
    position: absolute;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    padding: var(--pad-s);
    background-color: var(--secondary-color);
    color: black;
    border-radius: var(--br-mid);
    gap: var(--pad-s);

    font-size: 1.5rem;
    font-weight: bold;
}

.analog {
    font-size: 1.5rem;
}

.time {
    display: inline;
    background: black;
    font-size: 1rem;
    color: white;
    padding: 5px 12px;
    border-radius: 8px;
}

.colon {
    font-size: 2rem; 
}
