/* import inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    /* Reset Default Styling (cause it's always a trouble) */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* something to do with box model (margin, padding, size) */
}

:root {
    --primary-color: black;
    --secondary-color: white;

    --section-color: #4A4A4A;

    --pad-m: 1rem;
    --pad-s: 0.5rem;

    --br-mid: 1rem;

    --secondary-text: grey;
}

body {
    background: #1e1e1e;
    font-family: Inter, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 2rem;
}

.login {
    display: none;
    background: white;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    color: black;
    border: none;
    border-radius: 10px;
    outline: none;
}

.btn {
    outline: none;
    border: none;
    border-radius: 10px;
}

.widget-wrapper {
    width: 350px;
    max-width: 369px;
    aspect-ratio: 1/1;
    margin: 1rem;
}

.widget-wrapper-tall {
    max-width: 350px;
    margin: 1rem;
}

.widget {
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: 20px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.widget-content {
    padding: 18px; 
    box-sizing: border-box;
}

.widget-title {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.block {
    background: #000;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}

.block h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* if the content overflow we are scrolling so the header also scrolls so figure that out */
.section {
    background: #4A4A4A;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    max-height: 25vh;
    overflow: scroll; 
}

.section-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-align: left;
}

.blocks {
    background: #111;
    padding: 6px 8px;
    border-radius: 8px;
    margin-bottom: 6px;
    font-size: 16px;
}

.github-block-title {
    margin-bottom: 0.2rem;
    color: var(--secondary-text);
}

#boom-boom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}
