/* import inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    /* Reset Default Styling (cause it's always a trouble) */
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box; /* something to do with box model (margin, padding, size) */
}

:root {
    --primary-color: black;
    --secondary-color: white;
    --bg-color: grey;

    --section-color: #4A4A4A;
    --section-title: 1rem;

    --pad-m: 1rem;
    --pad-s: 0.5rem;

    --br-mid: 1rem;

    --secondary-text: grey;
}

body {
    background: var(--bg-color);
    font-family: Inter, sans-serif;
    overflow-y: scroll;
    /* cursor: none; */
}

.login {
    display: none;
    background: white;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    color: black;
    border: none;
    border-radius: 10px;
    outline: none;
}

.btn {
    display: flex;
    outline: none;
    border: none;
    border-radius: 10px;
}

.invert {
    filter: invert(1);
}

.small-icon {
    width: 20px;
}

.medium-icon{
    width: 30px;
}

.large-icon{
    width: 40px;
}

.widget {
    padding: 1rem;
    background-color: #000;
    border-radius: 20px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 0;
}


.widget-title {
    text-align: center;
    font-size: 1.2rem;
    /* margin-top: 1rem; */
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.section {
    display: flex;
    flex-direction: column;
    background: var(--section-color);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    overflow: hidden; 
}

.section-title {
    font-size: var(--section-title);
    margin-bottom: 0.7rem;
    text-align: left;
}

.section-list {
    overflow-y: auto;
    min-height: 0;
}

.block {
    background: #000;
    color: white;
    padding: 20px;
    border-radius: 10px;
    /* width: 250px; */
}

.block h2 {
    text-align: center;
    margin-bottom: 20px;
}

.blocks {
    background: #111;
    padding: 6px 8px;
    border-radius: 8px;
    margin-bottom: 6px;
    font-size: 16px;
    text-align: left;
}

/* Explosion Gif */
#boom-boom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

/* Custom Cursor */
#cursor {
    position: absolute;
    display: none;
    width: 20px;
    height: 20px;
    z-index: 6969;
    pointer-events: none;
    will-change: transform;
}

#cursor img {
    width: 100%;
    height: 100%;
}
