
/* Section */
.todo-add-btn {
    margin-top: 1rem; 
    color: white;
    border-radius: 6px;
    width: 100%;
    font-size: 1.1rem;
}

.todo-add-btn div{
    display: flex;
    align-items: center;
}

.todo-add-btn img{
    margin-right: 0.5rem;
}

#todo-widget {
    width: 369px;
    font-size: 1.1rem;
}

.todo-list {
    overflow: scroll;
    max-height: 145px;
}

.todo-list-item {
    background: black;
    margin-top: 0.6rem;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s;
    height: auto;
    text-align: left;
}

.todo-list-item:nth-child(1) {
    margin-top: 0;
}

.todo-list-item:hover {
    background: #333;
}

#input-form {
    width: 100%;
    display: flex;
    align-items: center;
}

#input-form input {
    width: 100%;
    padding: 0.5rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    outline: none;
}

#input-form button {
    display: none;
}

#todo-input {
    color: white;
}

.margin-top {
    margin-top: 0.6rem;
}

#todo-add {
    display: grid;
    place-items: center;
    width: 100%;
    padding: 1rem;
    color: white;
    font-size: 2rem;
    background-color: var(--section-color);
}

.todo-widget {
    background: #000;
    color: white;
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.6);
}

.todo-list li:hover {
    background: #333;
}
