#todo-widget {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 1.1rem;
    overflow-y: auto;
    min-height: 0;
}

#todo-container {
    width: 100%;
    overflow-y: scroll;
    margin-bottom: 1rem;
}

/* Section */
.todo-add-btn {
    margin-top: 1rem; 
    color: white;
    border-radius: 6px;
    width: 100%;
    font-size: 1.1rem;
}

.todo-add-btn div{
    pointer-events: none;
    display: flex;
    align-items: center;
}

.todo-add-btn img{
    margin-right: 0.5rem;
}

.todo-list {
    overflow: scroll;
    /* max-height: 145px; */
}

.section-list-item {
    background: black;
    margin-top: 0.6rem;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s;
    height: auto;
    text-align: left;
}

.section-list-item:hover {
    input{
        display: block;
    }
}

.todo-item-div {
    display: flex;
}

.todo-item-div input {
    display: none;
    margin-right: 0.5rem;
    width: 1rem;
}

.section-list-item:nth-child(1) {
    margin-top: 0;
}

.section-list-item:hover {
    background: #333;
}

#input-form {
    width: 100%;
    display: flex;
    align-items: center;
}

#input-form input {
    width: 100%;
    color: black;
    padding: 0.5rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    outline: none;
}

#input-form button {
    display: none;
}

#todo-input {
    color: white;
}

.margin-top {
    margin-top: 0.6rem;
}

#todo-add {
    display: grid;
    place-items: center;
    width: 100%;
    padding: 1rem;
    color: white;
    font-size: 2rem;
    background-color: var(--section-color);
}

.todo-list li:hover {
    background: #333;
}
